body {

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    background-color: rgb(201, 238, 237);
    color: #222;
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
}

h1 {
    text-align: center;
    color: #00539f;
    text-shadow: 2px 2px 1px black;
    margin-bottom: 20px;
}

h2 {
    margin: 20px 0 10px;
}

h3 {
    margin: 15px 0 10px;
}

p {
    color: rgb(238, 106, 106);
}

.herohed {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #a1dfea;
    color: white;
    border-radius: 15px;
}

button {
    background-color: #a1dfea;
    color: rgb(11, 7, 7);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}